header{
    margin: 0;
  }
  h1 {
    font-family:Helvetica, sans-serif ;
    font-weight: 400;
    background-color: rgb(26, 138, 158);
    color: white; 
    padding: 1em;
    margin: 12px 12px 0 12px;
  }
  h2 {
    font-family:Helvetica, sans-serif ;
    margin-top: 10px;
  }
  
  
  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }
  .item4 { grid-area: footer; }
  .item5 { grid-area: right; }
  
  .grid-container {
    background-color: white;
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu menu menu menu menu menu'
      'main main main main right right'
      'footer footer footer footer footer footer';
      max-width: 1024px;
      margin: auto;
    border: 3px solid black;
  }
  
  .articleImage {
    float: right;
    border:3px solid black;
    margin:1em 0 0 1em;
    padding: .5em;
    max-width: 300px;
  }
  
  nav {
    margin: 1em 0 1em 0;
    
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  nav li a{
      padding: 10px;
      margin: 10px 10px 10px 10px;
      color: white;
      background-color: rgb(5, 219, 48);
      display: inline-block;
      text-decoration: none;
  }
  nav li a:hover{
      background-color: rgb(10, 95, 25);
  }
  nav li {
      display: inline;
      width: 100%;
  }
  .topThree {
    font-family: Georgia, serif;
    text-align: justify;
  }
  
  p a {
    color: rgb(36, 209, 20);
    text-decoration: none;
  }
  p a:hover{
    color: rgb(38, 0, 255);
    text-decoration: underline;
  }
  hr {
  border-bottom: 3px solid black;
  margin-bottom: 1em;
  margin-top: 1em;
  }
  footer {
    font-family: Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    background-color: rgb(26, 138, 158);
    color: white;
    border-top: 3px solid black;
    padding: 1em 3em 1em 3em;
  
  }
  main {
    padding: 1em;
  }
  
  body{
    background-image: url(bkg.jpg);
  }

  .item5{
    background-color: rgb(26, 138, 158);
    color: aliceblue;
    margin: 10px;
    padding: 5px;
  }
  .item5 h2{
    border-bottom: 2px solid aliceblue;
  }

  #italic{
    font-style: italic;
  }